.forknifeIcon {
    margin: 7px 51px 7px 127px;
}

.navbarIcon {
    margin: 11px 0px 11px 20px;
}

.rightGroupIcons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin: 13px 20px 13px 0;
}