@use '@styles/utils/variables' as *;

.inputSearch {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 315px;
  height: 30px;
  border: 0.5px solid $color-primary-gray;
  border-radius: 4px;
  outline: none;
  gap: 18px;

  @media (min-width: $breakpoint-laptop) {
    width: 505px;
    height: 48px;
    gap: 26px;
  }

  .inputContainer {
    border-style: none;
    outline: none;
    width: 253px;
    background-color: inherit;
    font-family: $font-primary;
    font-weight: 200;
    font-size: 12px;
    color: $color-primary-black;
    line-height: 100%;
    letter-spacing: 1.29px;

    @media (min-width: $breakpoint-laptop) {
      font-size: 24px;
      width: 433px;
      // height: ;
    }
  }

  .searchIcon {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px 0 5px 12px;

    @media (min-width: $breakpoint-laptop) {
      width: 32px;
      height: 32px;
      margin: 8px 0 8px 12px;
    }
  }
}