.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center; 
  position: relative;
  width: 100%;
  height: 273px;
  overflow: hidden;
  margin-bottom: 48px;
}

.heroContainer {
  position: absolute;
  width: 335px;
  height: 144px;
  gap: 18px;
  background-color:#ffffffE0;;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.97px;
  color: #000000;
  text-align: center;
}
