@use '@styles/utils/mixins' as *;
@use '@styles/utils/variables' as *;


.hero {
  $min-width: 480;
  $max-width: 1440;
  $min-height: 273;
  $max-height: 696;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 273px;
  overflow: hidden;
  margin-bottom: 48px;

  @include define-height($breakpoint-mobile, $breakpoint-mobile-lg, $min-width, $max-width, $min-height, $max-height);
  @include define-height($breakpoint-tablet, $breakpoint-laptop, $min-width, $max-width, $min-height, $max-height);
  @include define-height($breakpoint-desktop, $breakpoint-desktop-lg, $min-width, $max-width, $min-height, $max-height);

}

.heroContainer {
  position: absolute;
  height: 144px;
  gap: 18px;
  background-color: #ffffffE0;
  ;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;
  min-width: 335px;
  flex-grow: 1;
  flex-shrink: 1;

  @media (min-width: 480px) and (max-width: $breakpoint-laptop) {
    width: 80%; 
    height: 221px;
  }

  @media (min-width: $breakpoint-laptop) {
    width: 776px;
    height: 221px;
  }

}

.heroTitle {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1.97px;
  color: #000000;
  text-align: center;

  @media (min-width: $breakpoint-laptop) {
    font-size: 32px;
    line-height: 40px;
  }
}