@use '@styles/utils/mixins' as *;
@use '@styles/utils/variables' as *;


.cardContainer{
    @include card-style('restaurant');
    
    .cardImage {
        @include image-style('responsive');
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        padding: 16px 0 16px 16px;
        gap: 8px;
    }
}
