@use '@styles/utils/variables' as *;

.footerContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding: 32px 0 24px 19px;
    border-top: 1px solid #F2F2F2;

    @media (min-width: $breakpoint-mobile-lg) {
        flex-direction: row;
        justify-content: center;
        padding: 31px 0;
    }
}

.footerText{
letter-spacing: 1.92px;
}