@use '@styles/utils/variables' as *;
@use '@styles/utils/mixins' as *;

.iconLegendContainer {
    background-color: $color-secondary-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    gap: 32px;
    margin-bottom: 48px;

    .heading {
        @include heading-style('mobile');
    }
}

.iconsGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 56px;

    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        gap: 40px;
    }
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 127px;
    align-items: center;
    width: 136px;
    gap: 32px;
    &.iconContainer--spicy {
        height: 103px;
    }
}

.spicyIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 103px;
    align-items: center;
    width: 136px;
    gap: 32px;
}