@use '@styles/utils/variables' as *;
@use '@styles/utils/mixins' as *;

.iconLegendContainer {
    background-color: $color-secondary-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    gap: 32px;
    margin-bottom: 48px;

    @media (min-width: $breakpoint-tablet) {
        padding: 35.5px 0;

    }

    .heading {
        text-transform: uppercase;
        line-height: 35px;
        letter-spacing: 1.25px;

        @media (min-width: $breakpoint-tablet) {
            font-size: 30px;
            letter-spacing: 2.14px;
        }
    }
}

.iconsGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 56px;

    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
        gap: 40px;
    }
}

.iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 127px;
    align-items: center;
    width: 136px;
    gap: 32px;
}

.spicyIconContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 103px;
    align-items: center;
    width: 136px;
    gap: 32px;
}

.imageContainer {
    position: relative;
    width: 56px;
    height: 56px;
}

.iconContainerDescription {
    font-weight: 200;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.97px;

    @media (min-width: $breakpoint-laptop) {
        font-size: 24px;
    }
}