@use '@styles/utils/mixins' as *;
@use '@styles/utils/variables' as *;


.chefContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;


  @media (min-width: $breakpoint-laptop) {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: repeat(3, auto);
    padding-left: 8%;
    padding-right: 8%;
  }


  .heading {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1.25px;
    padding-bottom: 16px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 24px;
    }
     @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
    padding-left: 20%;
    padding-right: 20%;
  }

    @media (min-width: $breakpoint-laptop) {
      font-size: 30px;
      grid-column: span 2;

      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;

      padding-bottom: 40px;
    }
  }

  .chefImage {
    width: 100%;
    height: auto;
    padding-right: 5%;
    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
    padding-left: 20%;
    padding-right: 20%;
  }

    @media (min-width: $breakpoint-laptop) {
      max-width: 478px;
      max-height: 372px;
    }
  }

  .chefInfo {
    padding-top: 24px;
    padding-bottom: 32px;
    padding-right: 5%;
    
    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
    padding-left: 20%;
    padding-right: 20%;
  }

    p {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 1.25px;
      text-align: justify;

      @media (min-width: $breakpoint-tablet) {
        font-size: 22px;
      }

      @media (min-width: $breakpoint-laptop) {
        font-size: 24px;
        padding-left: 63.5px;
      }

    }
  }
}