@use '../../assets/styles/variabels' as *; // assuming it's in the same folder

.header {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  height: 46px;

  @media (min-width: 376px) { // just for debugging
    background-color: green;
  }

  @media (min-width: $breakpoint-large) { // just for debugging
    background-color: pink;
  }
}