@use '@styles/utils/variables' as *;

.restaurantsHomeContainer {
    margin-top: 46px;

    @media (min-width: $breakpoint-laptop) {
        margin-top: 64px;
    }
}
.textContainer {

    
}
.heading {
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1.92px;

    padding-top: 14px;
}
.barContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.text {
    font-weight: 200;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 1.92px;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
}