@use '@styles/utils/variables' as *;

@mixin image-style($type) {
  @if $type =='responsive' {
    width: 100%;
    height: auto;
  }

  @else if $type =='background' {
    object-fit: cover;
    z-index: 0;
  }
}

@mixin heading-style($type) {
  text-transform: uppercase;
  line-height: 35px;

  @if $type =='desktop' {
    letter-spacing: 2.14px;
  }

  @else {
    letter-spacing: 1.25px;
  }
}

@mixin card-style($type) {
  display: flex;
  flex-direction: column;
  background-color: $color-secondary-beige;
  width: 245px;

  @if $type =='restaurant' {
    height: 233px;
  }

  @else if $type =='dish' {
    height: 388px;
  }
}