$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1197px;
$breakpoint-large: 1440px;

// Font
$font-primary: 'Helvetica Neue', Arial, sans-serif;

// Primary Colors
$color-primary-black: #000000;
$color-primary-gray: #979797;

// Secondary Colors
$color-secondary-beige: #F9F4EA;
$color-secondary-gold:  #E19D1A;
$color-secondary-white: #FAFAFA;

