.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000B2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  overflow: auto;
  position: relative;
  // height: 86.928%;
  display: flex;
  flex-direction: column;
  // gap: 14px;
  width: 39.791%;
  margin: 64px auto 0 auto;
}

.closeButton {
  background: none;
  border: none;
  padding-bottom: 8px;
  align-self: flex-start;

  cursor: pointer;
}

.xWhiteIcon {
  width: 18px;
  height: 18px;
}