@use '@styles/utils/variables' as *;


.dishOrderCard {
    display: flex;
    flex-direction: column;
}

.dishImage {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    width: 100%;
}

.dishInfo {
    display: flex;
    flex-direction: column;
    padding: 32px 37px 40px 20px;
    gap: 14px;
    align-items: center;

    @media (min-width: $breakpoint-laptop) {
        padding: 0;
        padding-top: 40px;
        width: 40.488%;
    }
}

.dishTitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 2.67px;
    width: 100%;

    @media (min-width: $breakpoint-laptop) {
        font-size: 32px;
        text-align: center;
    }
}

.dishDescription {
    font-weight: 200;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.97px;   
    width: 100%;

    @media (min-width: $breakpoint-laptop) {
        font-size: 14px;
        text-align: center;
    }
}

.logo {
    width: 40px;
    height: 31px;
}

.cardFooter {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

.cardFooter::before,
.cardFooter::after {
    content: "";
    flex: 1;
    height: 0.5px;
    background-color: #979797;
}

.cardFooter::before {
    margin-right: 12px;
}

.cardFooter::after {
    margin-left: 12px;
}

.cardPrice {
    display: flex;
    align-items: center;
    gap: 2px;
    white-space: nowrap;
}

.ils {
    padding-top: 4px;   
}

.ilsImage {
    width: 8.7px;
    height: 8.61px;
}

.priceText {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.03px;

}